<div class="w-[100%] flex flex-col items-center p-4 pb-8 xl:px-8">
  <h1 class="max-w-sm text-3xl font-dosis text-center font-semibold">
    Our Services
  </h1>

  <p
    class="text-neutral-900 text-sm font-pt-sans my-6 pb-6 text-center max-w-xl xl:max-w-3xl"
  >
    We offer a full range of international logistics services, from purchase to
    delivery. Find out how we can simplify your supply chain and improve your
    efficiency
  </p>

  <div class="w-full max-w-7xl px-8 flex flex-wrap gap-16">
    <div
      class="w-full flex max-md:flex-col max-md:items-center justify-center lg:justify-between gap-16 lg:gap-24 2xl:gap-16"
    >
      <div class="flex flex-col items-center gap-4">
        <div
          class="bg-cover bg-no-repeat bg-center h-[14rem] w-[20rem] lg:h-[18rem] lg:w-[28rem] xl:w-[34rem] xl:h-[20rem] rounded-lg"
          style="background-image: url('./assets/img/contener.jpg')"
        ></div>
        <h1
          class="font-dosis font-semibold text-neutral-950 text-lg lg:text-xl 2xl:text-2xl"
        >
          Transport of Goods
        </h1>
        <p class="font-pt-sans text-sm mx-3 text-center pb-3">
          Service for the movement of goods using various modes of
          transportation.
        </p>
        <a href="#">
          <button
            class="rounded-md h-max bg-white border border-blue-green py-2 px-8 font-light text-blue-green shadow-md transition-all hover:bg-blue-green hover:text-white hover:border-slate-200 ease-in-out duration-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block"
            type="button"
          >
            <span>Get started</span>
          </button>
        </a>
      </div>

      <div class="flex flex-col items-center gap-4">
        <div
          class="bg-cover bg-no-repeat bg-center h-[14rem] w-[20rem] lg:h-[18rem] lg:w-[28rem] xl:w-[34rem] xl:h-[20rem] rounded-lg"
          style="background-image: url('./assets/img/logistik_small.webp')"
        ></div>
        <h1
          class="font-dosis font-semibold text-neutral-950 text-lg lg:text-xl 2xl:text-2xl"
        >
          Stock and Warehouse Management
        </h1>
        <p class="font-pt-sans text-sm mx-3 text-center pb-3">
          Service for storage, management, and control of goods in warehouses.
        </p>
        <a href="#">
          <button
            class="rounded-md h-max bg-white border border-blue-green py-2 px-8 font-light text-blue-green shadow-md transition-all hover:bg-blue-green hover:text-white hover:border-slate-200 ease-in-out duration-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block"
            type="button"
          >
            <span>Get started</span>
          </button>
        </a>
      </div>
    </div>

    <div
      class="w-full flex max-md:flex-col max-md:items-center justify-center lg:justify-around gap-16 lg:gap-24 2xl:gap-16"
    >
      <div class="flex flex-col items-center gap-4">
        <div
          class="bg-cover bg-no-repeat bg-center h-[14rem] w-[20rem] lg:h-[18rem] lg:w-[28rem] xl:w-[34rem] xl:h-[20rem] rounded-lg"
          style="background-image: url('./assets/img/logistik_pack.jpg')"
        ></div>
        <h1
          class="font-dosis font-semibold text-neutral-950 text-lg lg:text-xl 2xl:text-2xl"
        >
          Order Management
        </h1>
        <p class="font-pt-sans text-sm mx-3 text-center pb-3">
          Comprehensive service for order processing, from entry to delivery.
        </p>
        <a href="#">
          <button
            class="rounded-md h-max bg-white border border-blue-green py-2 px-8 font-light text-blue-green shadow-md transition-all hover:bg-blue-green hover:text-white hover:border-slate-200 ease-in-out duration-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block"
            type="button"
          >
            <span>Get started</span>
          </button>
        </a>
      </div>

      <div class="flex flex-col items-center gap-4">
        <div
          class="bg-cover bg-no-repeat bg-center h-[14rem] w-[20rem] lg:h-[18rem] lg:w-[28rem] xl:w-[34rem] xl:h-[20rem] rounded-lg"
          style="background-image: url('./assets/img/logistic_car.jpg')"
        ></div>
        <h1
          class="font-dosis font-semibold text-neutral-950 text-lg lg:text-xl 2xl:text-2xl"
        >
          Distribution
        </h1>
        <p class="font-pt-sans text-sm mx-3 text-center pb-3">
          Service for delivering goods to end customers or points of sale.
        </p>
        <a href="#">
          <button
            class="rounded-md h-max bg-white border border-blue-green py-2 px-8 font-light text-blue-green shadow-md transition-all hover:bg-blue-green hover:text-white hover:border-slate-200 ease-in-out duration-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block"
            type="button"
          >
            <span>Get started</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
